<nav class="navbar navbar-expand-lg" style="background-color: #ffffff">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="offcanvas"
            href="#offcanvasTransactions"
            role="button"
            aria-controls="offcanvasTransactions"
            >Transactions
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            data-bs-toggle="offcanvas"
            href="#offcanvasMasters"
            role="button"
            aria-controls="offcanvasMasters"
            >Masters
          </a>
        </li>
        <li>
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li>
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li>
          <a class="nav-link" href="#">Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="#">Help</a>
        </li>
        <li>
          <a class="nav-link btn btn-primary" href="#">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasTransactions"
  aria-labelledby="offcanvasTransactionsLabel"
  style="background-color: #ffffff"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTransactionsLabel">
      Transactions
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <hr />
    <h6>Accounting</h6>
    <small>
      <nav class="nav flex-column">
        <a class="nav-link" href="#">Purchases</a>
        <a class="nav-link" href="#">Purchase Returns</a>
        <a class="nav-link" href="#">Debit Note</a>
        <br />
        <a class="nav-link" href="#">Sales</a>
        <a class="nav-link" href="#">Sales Returns</a>
        <a class="nav-link" href="#">Credit Note</a>
        <br />
        <a class="nav-link" href="#">Payments</a>
        <a class="nav-link" href="#">Receipts</a>
        <a class="nav-link" href="#">Contra</a>
        <br />
        <a class="nav-link" href="#">Journal</a>
      </nav>
    </small>
    <hr />
    <h6>Inventory</h6>
    <small>
      <nav class="nav flex-column">
        <a class="nav-link" href="#">Goods Receipts</a>
        <a class="nav-link" href="#">Goods Removed</a>
        <a class="nav-link" href="#">Production</a>
        <a class="nav-link" href="#">Godown Transfers</a>
        <a class="nav-link" href="#">Wastages</a>
        <a class="nav-link" href="#">Physical Stock in hand</a>
        <a class="nav-link" href="#">Adjustments</a>
      </nav>
    </small>
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="5"
  id="offcanvasMasters"
  aria-labelledby="offcanvasMastersLabel"
  style="background-color: #ffffff"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMastersLabel">Manage Masters</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <hr />
    <h6>Accounting Masters</h6>
    <small>
      <nav class="nav flex-column">
        <a class="nav-link" href="#">Ledger Groups</a>
        <a class="nav-link" href="#">Ledgers</a>
        <a class="nav-link" href="#">Cost Centers</a>
      </nav>
    </small>
    <hr />
    <h6>Inventory Masters</h6>
    <small>
      <nav class="nav flex-column">
        <a class="nav-link" href="#">Item Categories</a>
        <a class="nav-link" href="#">Units of Measurement (UOM)</a>
        <a class="nav-link" href="#">Items</a>
        <a class="nav-link" href="#">Bills of Materials</a>
        <a class="nav-link" href="#">Godowns</a>
      </nav>
    </small>
  </div>
</div>
